# On Prem Deploy Workflow

name: On Prem Deploy

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  buildandcopy:

    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v2
    # not needed if .NET is already installed on the runner
    #- name: Setup .NET
      #uses: actions/setup-dotnet@v1
      #with:
        #dotnet-version: 5.0.x
    # restoring dependencies fails on the runner (?)    
    #- name: Restore dependencies
      #run: dotnet restore
    - name: Build
      # commented out --no-restore, since I am not explicityly restoring above. doing it as part of the build.
      run: dotnet build --configuration Release # .\dotnet-core-webapp
      # run: dotnet build #--no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
      
      #- run: 'mkdir -p c:\artifact'
      #- run: 'echo hello > c:\artifact\helloworld.txt'
      #- uses: actions/upload-artifact@v2 # calling the upload-artifact action (verified)
        #with:
          #name: my-artifact
          #path: 'c:\artifact\helloworld.txt'
        
